@model AuditLogSearchReq

@{
    ViewBag.Title = "Audit Log";
}

@section scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>

    <!-- jQuery & Bootstrap -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <hr> <!-- Divider -->
    <div class="d-flex gap-2 mt-2">
        <button id="btnShowHideSearch" type="submit" class="btn btn-primary">Open Filter</button>
    </div>
    <hr> <!-- Divider -->
    <!-- Search Section -->
    <section id="searchSection" style="display: none;" class="p-4 border rounded bg-light shadow-sm">
        <h4>Search Audit Log</h4>

        <div class="d-flex gap-1">
           
            <div class="form-group">
                <label asp-for="TypeSelections" class="control-label"></label>
                <select id="optionTypeSelections" class="form-control" asp-items="@Model?.TypeSelections">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ActionSelections" class="control-label"></label>
                <select id="optionActionSelections" class="form-control" asp-items="@Model?.ActionSelections">
                </select>
                <input asp-for="ActionID" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" class="form-control" value="@Model?.Name" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="CreatedBy">CreatedBy</label>
                <input type="text" name="CreatedBy" id="CreatedBy" class="form-control" value="@Model?.CreatedBy" placeholder="Enter CreatedBy">
            </div>
        </div>

        <div class="d-flex gap-1 mt-2 d-none"> @*hidden*@
            <div class="form-group">
                <label>Select Date Type</label>
                <div class="d-flex gap-1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="allDatetime" name="dateType" value="AllDatetime" checked>
                        <label class="form-check-label" for="allDatetime">All</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="createdDate" name="dateType" value="CreatedDate">
                        <label class="form-check-label" for="createdDate">Created Date</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="modifiedDate" name="dateType" value="ModifiedDate">
                        <label class="form-check-label" for="modifiedDate">Modified Date</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex gap-1 mt-2">
            <div class="form-group">
                <label>From Date</label>
                <input type="date" id="dateTimeFrom" class="form-control">
            </div>
            <div class="form-group">
                <label>To Date</label>
                <input type="date" id="dateTimeTo" class="form-control">
            </div>
            <div class="form-group ms-2 mt-4">
                <button id="btnCurrentMonth" class="btn btn-primary">Current Month</button>
                <button id="btnPrevMonth" class="btn btn-primary">Prev Month</button>
                <button id="btnNextMonth" class="btn btn-primary">Next Month</button>
            </div>
        </div>

        <div class="d-flex gap-1 mt-2">
            <div>
                <label for="pageSize" class="mr-2">Items per page</label>
                <select id="optionPageSize" class="form-control">
                    @if (@Model.PageSize == 5)
                    {
                        <option value="5" selected>5</option>
                    }
                    else
                    {
                        <option value="5">5</option>
                    }

                    @if (@Model.PageSize == 10)
                    {
                        <option value="10" selected>10</option>
                    }
                    else
                    {
                        <option value="10">10</option>
                    }

                    @if (@Model.PageSize == 20)
                    {
                        <option value="20" selected>20</option>
                    }
                    else
                    {
                        <option value="20">20</option>
                    }

                    @if (@Model.PageSize == 50)
                    {
                        <option value="50" selected>50</option>
                    }
                    else
                    {
                        <option value="50">50</option>
                    }
                </select>

                <input type="hidden" id="pageIndex" value="@Model.PageNumber" />
                <input type="hidden" id="pageSize" value="@Model.PageSize" />
            </div>
        </div>

        <br />

        <div class="d-flex gap-2 mt-2">
            <button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
            <button id="btnClear" class="btn btn-dark">Clear</button>
        </div>

    </section>

    <!-- Modal Container -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <hr> <!-- Divider -->

    <section id="results" class="p-4 border rounded bg-white shadow-sm">
        <div id="results">
        </div>
    </section>

    <script>
        $(document).ready(function () {

            /*-------------------------- Show Hide Search */
            $(document).on("click", "#btnShowHideSearch", function (e) {

                $('#searchSection').toggle();

                // Optional: Change button text
                const isVisible = $('#searchSection').is(':visible');
                $(this).text(isVisible ? 'Hide Search Section' : 'Show Search Section');
            });

            /*-------------------------- Datetime selection */
            $(document).on("click", "#btnCurrentMonth", function (e) {

                let [year, month] = $("#dateTimeFrom").val().split("-");
                let previousMonth = new Date(year, month - 2, 1); // -2 because months are 0-based

                let now = new Date();
                let firstDay = new Date(now.getFullYear(), now.getMonth(), 1).toLocaleDateString('en-CA'); // YYYY-MM-DD format;
                let lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0).toLocaleDateString('en-CA');

                $("#dateTimeFrom").val(firstDay);
                $("#dateTimeTo").val(lastDay);
            });

            $(document).on("click", "#btnPrevMonth", function (e) {

                let [year, month] = $("#dateTimeFrom").val().split("-");
                let previousMonth = new Date(year, month - 2, 1); // -2 because months are 0-based

                let now = new Date();
                let firstDay = previousMonth.toLocaleDateString('en-CA'); // YYYY-MM-DD format;
                let lastDay = new Date(previousMonth.getFullYear(), previousMonth.getMonth() + 1, 0).toLocaleDateString('en-CA').split("T")[0];

                $("#dateTimeFrom").val(firstDay);
                $("#dateTimeTo").val(lastDay);
            });

            $(document).on("click", "#btnNextMonth", function (e) {

                let [year, month] = $("#dateTimeFrom").val().split("-");
                let nextMonth = new Date(year, month, 1); // -2 because months are 0-based

                let now = new Date();
                let firstDay = nextMonth.toLocaleDateString('en-CA'); // YYYY-MM-DD format;
                let lastDay = new Date(nextMonth.getFullYear(), nextMonth.getMonth() + 1, 0).toLocaleDateString('en-CA').split("T")[0];

                $("#dateTimeFrom").val(firstDay);
                $("#dateTimeTo").val(lastDay);
            });

            /* ====================================================Init*/
            $("#dateTimeFrom").val(new Date().toISOString().split("T")[0])
            $("#dateTimeTo").val(new Date().toISOString().split("T")[0])

            $("#btnSearch").click(function (e) {
                event.preventDefault(); // Prevent full page reload

                postSearchAuditLog(1)
            });

            /*=================================================== Pagination*/
            $(document).on("click", "#btnGo", function (e) {
                event.preventDefault(); // Prevent full page reload

                var pageNumber = +$("#pageIndexNew").val()

                postSearchAuditLog(pageNumber)
            });

            $(document).on("click", "#btnNext", function (e) {
                event.preventDefault(); // Prevent full page reload

                var pageNumber = +$("#pageIndex").val() + 1

                postSearchAuditLog(pageNumber)
            });

            $(document).on("click", "#btnPrevious", function (e) {
                event.preventDefault(); // Prevent full page reload

                var pageNumber = +$("#pageIndex").val() - 1

                postSearchAuditLog(pageNumber)
            });

            $(document).on("change", "#optionPageSize", function (e) {
                event.preventDefault(); // Prevent full page reload

                postSearchAuditLog(1)
            });

            function postSearchAuditLog(pageNumber) {

                const selectedDateType = $('input[name="dateType"]:checked').val();

                var requestData = {
                    Name: $("#Name").val(),
                    TypeID: $("#optionTypeSelections").val(),
                    ActionID: $("#optionActionSelections").val(),

                    CreatedBy: $("#CreatedBy").val(),
                    // ModifiedBy: $("#ModifiedBy").val(),

                    SearchByDateType:
                        selectedDateType === 'AllDatetime' ? 1 :
                            selectedDateType === 'CreatedDate' ? 2 : 3,
                    IsSearchByCreatedDate: $('input[name="dateType"]:checked').val() == 'CreatedDate',
                    DateFrom: $("#dateTimeFrom").val(),
                    DateTo: $("#dateTimeTo").val(),
                    PageNumber: pageNumber, // Default to first page
                    PageSize: +$("#optionPageSize").val()
                };

                $.ajax({
                    url: "/AuditLog/SearchAuditLogs",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(requestData),
                    success: function (data) {
                        $("#pageIndex").val(pageNumber)
                        $("#results").html(data); // Update results dynamically
                    },
                    error: function (jqXHR) {
                        console.error("Error:", jqXHR);
                        console.error("Error status:", jqXHR.status);
                        if (jqXHR.status == 401)
                            window.location.href = "/Login/Index";
                    }
                });
            }

            /*-------------------------- Detail */
            $(document).on("click", ".btn-detail", function (e) {
                e.preventDefault();
                var entityId = $(this).data("id");

                $.get("/AuditLog/Details", { id: entityId })
                    .done(function (data) {
                        $("#detailModal .modal-content").html(data);
                        $("#detailModal").modal("show");
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.error("Error fetching modal:", textStatus, errorThrown);
                        if (jqXHR.status == 401) {
                            alert("Login token expired");
                            window.location.href = "/Login/Index";
                        }
                        else {
                            alert("detail failed: " + jqXHR.status);
                        }
                    });
            });

            /*-------------------------- Clear */
            $(document).on("click", "#btnClear", function (e) {
                e.preventDefault();
                clearSearchFields();
            });

            function clearSearchFields() {

                $("#optionTypeSelections").val(1);
                $("#optionActionSelections").val(0);
                $("#Name").val('');

                $("#CreatedBy").val('');
                $("#ModifiedBy").val('');

                $('#allDatetime').prop('checked', true);

                $("#dateTimeFrom").val(new Date().toISOString().split("T")[0]);
                $("#dateTimeTo").val(new Date().toISOString().split("T")[0]);
            }

            //initial call
            $("#optionTypeSelections").val(1)
            postSearchAuditLog(1)
        });
    </script>
</div>
